.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.rounded-image {
  border-radius: 50%;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  cursor: zoom-out;
}

.zoomed-img {
  animation: zoom 0.3s;
}

.img-border {
  border: 2px solid #94cfe4;
}

.skeleton {
  width: 100%;
  height: 100%;
  background: rgb(179, 179, 179, 0.5);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
