<div class="header">
  <flex class="header-bar">
    <flex ml="20px">
      <svg-icon svg="dev" width="36px" height="36px"></svg-icon>
      <flex ml="20px" alignItems="center">aleks_thunder</flex>
    </flex>
  </flex>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" (click)="scrollToElement('about')">
        <action-link [scale]="isMobile ? 'xs' : 'm'">About</action-link>
      </li>
      <li class="breadcrumb-item" (click)="scrollToElement('tech-stack')">
        <action-link [scale]="isMobile ? 'xs' : 'm'">Tech stack</action-link>
      </li>
      <li class="breadcrumb-item" (click)="scrollToElement('contact')">
        <action-link [scale]="isMobile ? 'xs' : 'm'">Contact</action-link>
      </li>
    </ol>
  </nav>
</div>
