<div class="bg">
  <div class="lines">
    <ng-container *ngFor="let _ of [].constructor(5)">
      <div class="line"></div>
    </ng-container>
  </div>

  <flex justifyContent="center">
    <text class="gradient-text" fontWeight="bold" scale="h1"
      >Specification</text
    >
  </flex>

  <flex class="tech-block" flexWrap="wrap" justifyContent="space-evenly">
    <ng-container *ngFor="let svg of svgSrc">
      <flex
        class="block"
        flexDirection="column"
        alignItems="center"
        [width]="responsiveWidth"
        height="200px"
      >
        <svg-icon [svg]="svg.src" width="100px" height="100px"></svg-icon>
        <flex mt="20px" px="20px">
          <text scale="xl" fontWeight="bold" textAlign="center">{{
            svg.description
          }}</text>
        </flex>
      </flex>
    </ng-container>
  </flex>
</div>
