<div
  [style.display]="'flex'"
  [style.flexDirection]="flexProps.flexPosition.flexDirection"
  [style.justifyContent]="flexProps.flexPosition.justifyContent"
  [style.alignItems]="flexProps.flexPosition.alignItems"
  [style.alignContent]="flexProps.flexPosition.alignContent"
  [style.flexWrap]="flexProps.flexPosition.flexWrap"
  [style.width]="flexProps.dimensions.width"
  [style.maxWidth]="flexProps.dimensions.maxWidth"
  [style.height]="flexProps.dimensions.height"
  [style.maxHeight]="flexProps.dimensions.maxHeight"
  [style.marginTop]="
    flexProps.spacing.mt
      ? flexProps.spacing.mt
      : flexProps.spacing.my
      ? flexProps.spacing.my
      : flexProps.spacing.m
  "
  [style.marginRight]="
    flexProps.spacing.mr
      ? flexProps.spacing.mr
      : flexProps.spacing.mx
      ? flexProps.spacing.mx
      : flexProps.spacing.m
  "
  [style.marginBottom]="
    flexProps.spacing.mb
      ? flexProps.spacing.mb
      : flexProps.spacing.my
      ? flexProps.spacing.my
      : flexProps.spacing.m
  "
  [style.marginLeft]="
    flexProps.spacing.ml
      ? flexProps.spacing.ml
      : flexProps.spacing.mx
      ? flexProps.spacing.mx
      : flexProps.spacing.m
  "
  [style.paddingTop]="
    flexProps.spacing.pt
      ? flexProps.spacing.pt
      : flexProps.spacing.py
      ? flexProps.spacing.py
      : flexProps.spacing.p
  "
  [style.paddingRight]="
    flexProps.spacing.pr
      ? flexProps.spacing.pr
      : flexProps.spacing.px
      ? flexProps.spacing.px
      : flexProps.spacing.p
  "
  [style.paddingBottom]="
    flexProps.spacing.pb
      ? flexProps.spacing.pb
      : flexProps.spacing.py
      ? flexProps.spacing.py
      : flexProps.spacing.p
  "
  [style.paddingLeft]="
    flexProps.spacing.pl
      ? flexProps.spacing.pl
      : flexProps.spacing.px
      ? flexProps.spacing.px
      : flexProps.spacing.p
  "
>
  <ng-content></ng-content>
</div>
